<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#" ng-click="add_breakpoint()">Add Breakpoint</a></li>
    <li><a ng-href="#" ng-click="continue_execution()">Continue</a></li>
    <li><a ng-href="#" ng-click="run_next_line()">Next</a></li>
  </ul>
  <h3 class="text-muted">OS 161</h3>
</div>

<div ng-repeat="stack_frame in app_state.stack">
  <h4><strong>#{{stack_frame.frame}}</strong> in {{stack_frame.file}}, {{stack_frame.func}}:{{stack_frame.line}}</h4>

  <table class="table table-striped">
    <tr ng-repeat="local in stack_frame.locals">
      <td>{{local.variable}}</td>
      <td>{{local.value}}</td>
    </tr>
  </table>
</div>

<h3>Breakpoints</h3>
<pre>{{app_state.breakpoints}}</pre>

<h3>GDB Log</h3>
<pre>{{app_state.gdb_history}}</pre>

<h3>Proc Log</h3>
<pre>{{app_state.proc_history}}</pre>
