<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li><a ng-click="add_breakpoint()">Add Breakpoint</a></li>
      <li><a ng-click="http_post('/continue')">Continue</a></li>
    </ul>
    <h3 class="text-muted" id="title">OS 161</h3>
  </div>
</div>

<code-viewer class="source-inspector"
  code="app_state.stack[0].file|sourceFileContents:sourceCache"
  highlight="app_state.stack[0].line">
</code-viewer>

<div class="infopane">
  <div ng-repeat="stack_frame in app_state.stack">
    <div>
      <div class="pull-left">
        <div><strong>{{stack_frame.func}}</strong></div>
        <div>{{stack_frame.file}}:{{stack_frame.line}}</div>
      </div>
      <div class="pull-right" style="padding-top: 2px">
        <button class="btn btn-primary"
          ng-click="http_post('/step', {
            'frame': stack_frame.frame
          })">
          S
        </button>
        <button class="btn btn-primary"
          ng-click="http_post('/next', {
            'frame': stack_frame.frame
          })">
          N
        </button>
        <button class="btn btn-primary"
          ng-click="http_post('/finish', {
            'frame': stack_frame.frame
          })">
          F
        </button>
      </div>
    </div>
    <table class="table table-striped">
      <tr ng-repeat="local in stack_frame.locals">
        <td>{{local.variable}}</td>
        <td>{{local.value}}</td>
      </tr>
    </table>
    <hr />
  </div>

  <h3>Registers</h3>
  <pre>{{app_state.registers}}</pre>

  <h3>Breakpoints</h3>
  <pre>{{app_state.breakpoints}}</pre>

  <h3>Process Log</h3>
  <console
    log="app_state.proc_history"
    sendline="send_proc_input">
  </console>

  <h3>GDB Log</h3>
  <console
    log="app_state.gdb_history"
    sendline="send_gdb_command">
  </console>
</div>
